{% extends "layout.html" %}

{% block title %} DFA {% endblock title %}

{% block content %} 
<p></p>
<div class="container">
	<div class="jumbotron">
		<h1>DFA</h1>
	
		<p></p>
		
		<form method="POST">

			{{ form.csrf_token }}
			<div class="row">
				<div class="col-auto">
					<div class="form-group">
						{{ form.states.label(class="form-control-label") }}
						{{ form.states(class="form-control form-control") }}
					</div>
					<div class="form-group">
						{{ form.alphabet.label(class="form-control-label") }}
						{{ form.alphabet(class="form-control form-control") }}
					</div>
					<div class="form-group">
						{{ form.start_state.label(class="form-control-label") }}
						{{ form.start_state(class="form-control form-control") }}
					</div>
					<div class="form-group">
						{{ form.accept_states.label(class="form-control-label") }}
						{{ form.accept_states }}
					</div>
				</div>
				<div class="col-auto">
					Transitions:
					<br>
					<div data-toggle="fieldset" id="transition-fieldset">
						<table class="table">
							<tr>
								<th> Source State </th>
								<th> Transition </th>
								<th> Destination State </th>
								<th> Delete </th>
							</tr>
						{% for trans_form in form.transitions %}
						<tr data-toggle="fieldset-entry" id="transition_rule" class="transitions">
							<td> {{trans_form.source_state(class="form-control")}} </td>
							<td> {{trans_form.transition(class="form-control")}} </td>
							<td> {{trans_form.destination_state(class="form-control")}} </td>
							<td> <button type="button" class="btn btn-link" data-toggle="fieldset-remove-row" id="transition-{{loop.index0}}-remove">-</button></td>
							</tr>
						{% endfor %}
						</table>
							<button type="button" class="btn btn-link" data-toggle="fieldset-add-row" data-target="#transition-fieldset">Add Transition</button>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-xs-1 center block">
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs-1 center block">
			{{graph|safe}}
		</div>
	</div>
</div>

<script>

	var states = document.getElementById("states");
	var start_state = document.getElementById("start_state");
	var alphabet = document.getElementById("alphabet");
	function init_page(){


	}

	function alphabet_select(){
		var alphabet_arr = alphabet.value.split(",");
		var optionHTML = "";
		for (var a of alphabet_arr){
			optionHTML += '<option value=' + a + '>' + a + '</option>';
		}
		for (var i = 0; i < 100; i++){
			var transition_letter_id = "transitions-" + i + "-transition";
			var transition_letter = document.getElementById(transition_letter_id);
			if (transition_letter !== null){
				transition_letter.innerHTML = optionHTML;
			}
			else{
				break;
			}
		}
	}


	function state_select (){


		var states_arr = states.value.split(",");
		var startHTML = "";
		var acceptHTML= "";
		for (var s of states_arr){
			startHTML += '<option value=' + s + '>' + s + '</option>';
			acceptHTML+= '<li><input name="accept_states" type="checkbox" value=' + s + '>\n<label>' + s + '</label></li>';
		}

		start_state.innerHTML = startHTML;
		accept_states.innerHTML = acceptHTML;

		for (var i = 0; i < 100; i++){
			var source_state_id = "transitions-" + i + "-source_state";
			var dest_state_id = "transitions-" + i + "-destination_state";

			var source_state = document.getElementById(source_state_id);
			var dest_state = document.getElementById(dest_state_id);
			if (source_state !== null){
				source_state.innerHTML = startHTML;
				dest_state.innerHTML = startHTML;
			}
			else{
				break;
			}
		}
	}

	states.onchange = state_select;
	alphabet.onchange = alphabet_select;

	window.onload = init_page;

	$(function() {
    $("div[data-toggle=fieldset]").each(function() {
        var $this = $(this);
            
        //Add new entry
        $this.find("button[data-toggle=fieldset-add-row]").click(function() {
            var target = $($(this).data("target"))
            console.log(target);
            var oldrow = target.find("[data-toggle=fieldset-entry]:last");
            var row = oldrow.clone(true, true);
            console.log(row.find(":input")[0]);
            var elem_id = row.find(":input")[0].id;
            var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4}).*/m, '$1')) + 1;
            row.attr('data-id', elem_num);
            row.find(":input").each(function() {
                console.log(this);
                var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
            });
            oldrow.after(row);
        }); //End add new entry

        //Remove row
        $this.find("button[data-toggle=fieldset-remove-row]").click(function() {
            if($this.find("[data-toggle=fieldset-entry]").length > 1) {
                var thisRow = $(this).closest("[data-toggle=fieldset-entry]");
                thisRow.remove();
            }
        }); //End remove row
    });
});

</script>

 {% endblock %}